{% extends 'base2.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if flag == 1 or flag == 2 %}
    <form method="get" action="{% url 'course_detail' %}">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{ course.id }}">
            
            <h1>Batch no-{{ batch_number }}</h1>
            <h1>CourseTitle{{flag}}</h1>

            <br>
            <h1> <button type="submit" class="btn btn-primary">
                <i class="bi bi-play-circle-fill"></i> <h3>Play</h3>
                </button></h1>
        </form>
    {% else %}
        <h1>YOUR APPLICATION IS UNDER ADMINISTRATIVE PROCESS</h1>
        <h1>Do You Have Any Queries? Please contact us on WhatsApp </h1>
        <h1>+91 78454 93857</h1>
    {% endif %}
{% endblock %}
