{% extends 'base2.html' %}

{% block content %}
<div class="container text-center">
    <h1>YOUR APPLICATION UNDER ADMINISTRATIVE PROCESS</h1>
    <h1>Do You Have Any Queries? Please contact us on WhatsApp </h1>
    <h1>+91 78454 93857</h1>
    {% comment %} <img src="{ 'C:\WhatsApp Image 2024-05-25 at 12.34.08 PM.jpeg'}" alt="Administrative Process Image" class="img-fluid mt-4"> {% endcomment %}
</div>
{% endblock %}
<style>
    .custom-container {
        max-width: 1800px; /* Set your desired max-width */
        margin: auto; /* Center the container */
    }
    </style>